@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

*{
    margin: auto;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: auto;
}

header{
    background-color: red;
    overflow: hidden;
    height: 120px;
}

section{
    background-image: url(../Imagenes/bg_3.jpg);
}

.contenedor{
    margin: auto;
    overflow: hidden;
    width: auto;
}

.logotipo{
    padding: 40px 0 60px 40px;
    margin-left: 20px;
    float: left;
}

nav{
    float: left;
    margin-left: 320px;
    padding-top: 25px;
}

nav ul{
    float: left;
    padding-top: 25px;
}   

nav ul li{
    display: inline;
    text-decoration: none;
    padding: 2px 20px 2px 20px;
}   

nav li a:hover{
    color: black;
    text-decoration: black;
}

.contenido{
    background-color: rgb(0, 0, 0, 0.75);
}

.content{
    float: right;
    color: #ffffff;
    font-size: 25px;
    padding-top: 75px;
    padding-right: 25px;
    padding-left: 25px;
    width: auto;
    height: 500px;
}

.login{
    margin: 25px;
    padding: 10px;
    width: 1220px;
    height: 340px;
    float: left;
    text-align: center;
}

.login h1{
    margin-bottom: 20px;
}

.loginAdmin{
    width: 500px;
    height: 500px;
    padding-top: 30px;
}

.msgError{
    width: 500px;
    height: 50px;
    padding-top: 10px;
    background-color: red;
    border-radius: 25px;
}

.mailAdmin{
    width: 490px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 20px;
    float: left;
    overflow: hidden;
}

.mailAdmin::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#btnIngresar{
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    background-color: red;
    float: right;
}

#btnIngresar:hover{
    background-color: grey;
    color: white;
}

footer{ 
    height: 90px;
    background-color: red;
}

#derechos{
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}