@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

*{
    margin: auto;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: auto;
}

header{
    background-color: red;
    overflow: hidden;
    height: 120px;
}

section{
    background-image: url(../Imagenes/bg_3.jpg);
}

.contenedor{
    margin: auto;
    overflow: hidden;
    width: auto;
}

.logotipo{
    padding: 40px 0 60px 40px;
    margin-left: 20px;
    float: left;
}

nav{
    float: left;
    margin-left: 320px;
    padding-top: 25px;
}

nav ul{
    float: left;
    padding-top: 25px;
}   

nav ul li{
    display: inline;
    text-decoration: none;
    padding: 2px 20px 2px 20px;
}   

nav li a:hover{
    color: black;
    text-decoration: black;
}

.contenido{
    background-color: rgb(0, 0, 0, 0.75);
}

.content{
    float: right;
    color: #ffffff;
    font-size: 25px;
    padding-top: 75px;
    padding-right: 25px;
    padding-left: 25px;
    width: auto;
    height: auto;
}

.content h1{
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
}

#btnsRegistroInformacion{
    margin: 50px 12px 12px 12px;
    padding-left: 75px;
    width: 1100px;  
    height: 50px;
}

.boton{
    float: right;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 40px;
    font-weight: 400;
}

.rojo{
    background-color: red;
}

.rojo:hover{
    background-color: black;
    color: white;
}

.blanco{
    background-color: white;
    color: black;
}

.blanco:hover{
    background-color: black;
    color: white;
}

.marcador{
    margin: 25px;
    padding: 10px;
    width: 1220px;
    float: left;
    align-content: center;
}

.equipoUno{
    margin-left: 355px;
    align-content: center;
    float: left;
}

.equipoUno img{
    margin: 5px;
}

.equipoUno h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.equipoUno h4{
    text-align: center;
    margin: 10px 0 10px 0;
}

.equipoDos{
    margin-left: 120px;
    float: left;
}

.equipoDos img{
    margin: 5px;
}

.equipoDos h3, p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.equipoDos h4{
    text-align: center;
    margin: 10px 0 10px 0;
}

footer{ 
    height: 90px;
    background-color: red;
}

#derechos{
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}