@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: white;
    margin-top: 43px;
    margin-left: 450px;
    float: left;
    text-align: center;
}

.formulario{
    width: 550px;
    height: 650px;
    margin-top: 100px;
    margin-left: 350px;
    float: left;
}

.correoContacto{
    width: 500px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 20px;
    float: left;
    overflow: hidden;
}

.correoContacto::placeholder{
    color: black;
    font-weight: 200;
}

#textoCorreo{
    width: 500px;
    height: 250px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 20px;
    float: left;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

#textoCorreo::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#btnEnviar{
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 160px;
    color: white;
    background-color: red;
    float: left;
}

#btnEnviar:hover{
    background-color: grey;
    color: white;
}